@charset "utf-8";

/*box*/
.box{

}

/*首页头部***************************************************/
.box > .top{
	height:170px;
	width:1100px;
	margin:0px auto;text-align:center;line-height:170px;color:#FF0000;
}

/*首页导航****************************************************/
.box > .nav{
	height:50px;
	width:1100px;
	background:gray;
	margin:10px auto;
}
.box > .nav > ul.navbar{
	width:1000px;
	height:50px;			
	margin:0 auto;
}
.box > .nav > ul.navbar li{
	list-style:none;
	float:left;
	width:115px;
	height:50px;			
	margin:0 5px;
	text-align:center;
	line-height:50px;
	color:#FFFFFF;
}

.box > .nav > ul.navbar > li:hover{
	background:#05C2F9;
	cursor:pointer;
}
.box > .nav > ul.navbar > li.nav_bg{
	background:#05C2F9;
	cursor:pointer;
}


/*首页中部***************************************************/
/***************/
.box > div.main{
	width:1100px;
	height:320px;
	margin:0px auto;
	overflow:hidden;
}
div.main > .main_box{
	width:960px;
	height:320px;
	margin-left:55px;
}
div.main > .main_box > .main_box_ul{
	width:960px;
	height:320px;
}
div.main > .main_box > .main_box_ul > .main_box_ul_li{
	list-style:none;
	width:960px;
	height:320px;
}
/*****Home*****************************************************/
div.main > .main_box > .main_box_ul > .main_box_ul_li > .h_tab{
	width:960px;
	height:320px;
	position:relative;
}
 .h_tab > .h_tab_ul{
	width:115px;
	height:320px;
}
.h_tab > .h_tab_ul > .h_tab_ul-li{
	list-style:none;
	margin-top:15px;	
	width:115px;		
	height:50px;		
	background:#009688;			
	text-align:center;	
	line-height:50px;
	color:#FFFFFF;
	position:relative;
	
}
.h_tab > .h_tab_ul > li:hover{
	background:#FF0000;
	cursor:pointer;
}
.h_tab > .h_tab_ul > li.h_tab_about{
	background:#FF0000;
	cursor:pointer;
}
.h_tab > .h_tab_two_ul{
	height:319px;
	width:830px;
	position:absolute;
	left:128px;
	top:0px;
	float:left;
}

.h_tab > .h_tab_two_ul > li{
	list-style:none;
	height:inherit;
	width:inherit;
	margin-bottom:2px;
}

/*About*/
.h_tab > .h_tab_two_ul > li > #alan_id{
	float:left;
}
.h_tab > .h_tab_two_ul > li > #alan_id > img{
	height:319px;
}
.wzb_info{
 	float:right; 	
	height:319px;
	width:380px;
	text-align:left;
	color:#FFFFFF;
}
.wzb_info > ul > li{
	list-style:none;
	padding-left:20px;
	font-size:18px;
	margin-top:10px;
	margin-bottom:10px; 
}
/*Experience*/
.work_info{
	height:100px;
	width:500px;
	text-align:left;
	padding: 10px;
}
.work_info h4:before {
	left: -14px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	/*-- w3layouts --*/
	/*-- agileits --*/
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
/*Education*/

/*Skills*/

/*Contact*/




/*首页底部**************************************************/
.bottom{
	height:100px;
	width:1100px;
	margin:10px auto 5px;
}
.bottom p{
	margin:5px auto;
	text-align:center;
	line-height:100px;
	color:#FFFFFF;
}
.bottom p a{
	text-decoration:none;
	color:#0572f9;
}
