@charset "utf-8";

/*box*/
.box{
	position:relative;
}

/*首页头部***************************************************/
.box > .top{
	height:170px;
	width:1100px;
	margin:0px auto;
}

/*首页导航****************************************************/
.box > .nav{
	height:50px;
	width:1100px;
	background:gray;
	margin:10px auto;
}
.box > .nav > ul.navbar{
	width:1000px;
	height:50px;			
	margin:0 auto;
}
.box > .nav > ul.navbar li{
	list-style:none;
	float:left;
	width:115px;
	height:50px;			
	margin:0 5px;
	text-align:center;
	line-height:50px;
	color:#FFFFFF;
}
.box > .nav > ul.navbar > li.home{
	background:#05C2F9;
}
.box > .nav > ul.navbar > li:hover{
	background:#05C2F9;
	cursor:pointer;
}


/*首页中部***************************************************/
.box > div.main{
	width:1100px;
	margin:0px auto;
	margin-top:10px;
	/*background:white;*/
}
.box > div.main > div.w_tab{
	width:115px;
	/*background:red;*/
	margin-left:55px;
}
.box > div.main > div.w_tab > ul.list_ul{

}
.box > div.main > div.w_tab > ul.list_ul > li.list_ul-li{
	list-style:none;	/*取消li前面的圆点*/
	margin-top:10px;	/*外边距,距顶部距离*/
	width:100%;			/*li的宽度*/
	height:50px;		/*li的高度*/
	background:#009688;	/*li的背景色*/
	cursor:pointer;		/*鼠标放在li上面时的手指*/
	text-align:center;	/*下面文字的相关文字样式*/
	line-height:50px;
	color:#FFFFFF;
	position:relative;	/*div.w_dip绝对定位时的参考位置*/
}
.box > div.main > div.w_tab > ul.list_ul > li:hover{
	background:red;
}

.box > div.main > div.w_tab > ul.list_ul > li div.w_dips{
	height:285px;
	width:920px;
	/*background:blue;*/
	position:absolute;
	top:2px;
	left:120px;
}
.box > div.main > div.w_tab > ul.list_ul > li div.w_dips > .w_wzb{
	height:285px;
	width:400px;
	/*background:red;*/
	float:left; 
}
.box > div.main > div.w_tab > ul.list_ul > li div.w_dips > .wzb_info{
	height:285px;
	width:510px;
	float:right;
}
.box > div.main > div.w_tab > ul.list_ul > li div.w_dips > .wzb_info ul{
	width:300px;
	height:285px;
}
.box > div.main > div.w_tab > ul.list_ul > li div.w_dips > .wzb_info ul li{
	list-style:none;
	width:300px;
	height:28px;
	text-align:left;
	line-height:28px;
	padding-left:20px;
	margin-top:10px;
	margin-bottom:10px;
}


/*首页底部**************************************************/
.bottom{
	height:100px;
	width:1100px;
	margin:10px auto 5px;
}
.bottom p{
	margin:5px auto;
	text-align:center;
	line-height:100px;
	color:#FFFFFF;
}
.bottom p a{
	text-decoration:none;
	color:#0572f9;
}
